@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

/* Home Page */
.home > .calltoaction {
  place-content: center;
  /* gap: 10rem; */
}

@media (min-width: 1200px) {
  .home > .calltoaction {
    gap: 10rem;
  }
}
.home > .calltoaction {
  margin: 0.75rem;
  max-width: 100%;
  padding: 0.75rem;
  /* margin: 0; */
}
@media (max-width: 410px) {
  /* Home and Post Page's */
  .home > .calltoaction h2 {
    font-size: 1rem;
    line-height: 1.75rem;
  }
  .home > .calltoaction img,
  .postPage > .calltoaction img {
    max-width: 21.5rem;
  }
  .home > .calltoaction,
  .postPage > .calltoaction {
    gap: 1rem;
  }
  .home > .calltoaction button,
  .postPage > .calltoaction button {
    margin-top: 0.5rem;
  }
  .home > .calltoaction p,
  .postPage > .calltoaction p {
    font-size: 0.65rem;
  }

  .postPage > .calltoaction h2 {
    font-size: 0.94rem;
    line-height: 1.75rem;
  }
}

/* projects Page */
.projects > div {
  gap: 0;
  padding: 0;
  padding-left: 1.5rem;
  /* flex-direction: row !important; */
  padding: 10px !important;
}
/* .projects > div img {
  padding: 3rem;
} */
.projects > div h2 {
  font-size: 1.2rem;
  width: max-content;
}

@media (max-width: 800px) {
  .projects > div {
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
  }
}

input select {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow-color: #000000;
  --tw-shadow: var(--tw-shadow-colored);
}
input select:is(.dark *) {
  --tw-shadow-color: #ffffff;
  --tw-shadow: var(--tw-shadow-colored);
}

#root:has(.dark) ~ div > .decision-modal > div > div {
  background-color: rgb(16, 23, 42);
  --tw-shadow-color: #ffffff;
  --tw-shadow: var(--tw-shadow-colored);
}

#root:has(.light) ~ div > .decision-modal > div > div,
#root:has(.light) ~ div > .decision-modal > div > div button {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow-color: #000000;
  --tw-shadow: var(--tw-shadow-colored);
}

#root:has(.dark) ~ div > .decision-modal > div > div button {
  --tw-shadow-color: #ffffff;
  --tw-shadow: var(--tw-shadow-colored);
}

@media (min-width: 768px) {
  nav ul li {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
}

/* @media (min-width: 1060px) {
  nav form {
    display: flex !important;
  }
} */

@media (min-width: 1280px) {
  /* nav > div {
    margin: 0 !important;
    max-width: 100% !important;
  } */
  nav ul li {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}

nav > div {
  max-width: 100% !important;
}
